.class-selector {
    /* Layout */
    display: flex;
    height: 80vh;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 80vw;

    /* Appearance */
    background: var(--neutral-0, #ffffff);
    
    /* Other */
    scrollbar-width: none;
}

.column {
    /* Layout */
    max-width: calc((100% - 1px - 1px) / 3);
    min-width: calc((100% - 1px - 1px) / 3);
}

.col-header {
    /* Layout */
    align-content: center;
    height: 40px;
    padding: 0px 12px;

    /* Appearance */
    background: var(--neutral-400, #919191);
}

.horizontal-divider {
    /* Layout */
    min-height: 1px;

    /* Appearance */
    background-color: var(--neutral-600, #5e5e5e);
}

.col-body {
    /* Layout */
    height: calc(100% - 40px - 1px);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.vertical-divider {
    /* Layout */
    min-width: 1px;

    /* Appearance */
    background-color: var(--neutral-600, #5e5e5e);
}
