div.confirmation-window {
    /* Layout */
    padding: 100px;

    /* Appearance */
    background: var(--neutral-0, #ffffff);
}

div.class-path-text {
    p {
        /* Layout */
        display: inline;
    }

    p.delimiter {
        /* Appearance */
        color: var(--neutral-400, #919191);
    }
}