div.confirmation-window {
    /* Layout */
    padding: 100px;

    /* Appearance */
    background: var(--neutral-0, #ffffff);
}

div.class-path-text {
    p {
        /* Layout */
        display: inline;
    }

    p.delimiter {
        /* Appearance */
        color: var(--neutral-400, #919191);
    }
}

p.blame-text {
    &.avail {
        /* Appearance */
        color: var(--brand-dark, #007070);
    }

    &.other {
        /* Appearance */
        color: var(--blue-500, #5596E6);
    }
}

div.action-buttons {
    /* Layout */
    display: flex;
    gap: 16px;
}
