.cell {
    /* Layout */
    width: calc(100% - 24px);
    height: 40px;
    padding: 0px 12px;
    align-content: center;
    overflow: hidden;

    /* Appearance */
    border: none;
    cursor: pointer;

    /* Text */
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selected {
    background-color: var(--blue-500, #5596E6);

    &:hover {
        background-color: var(--blue-400, #3775D9);
    }

    &:active {
        background-color: var(--blue-500, #5596E6);
    }
}

.unselected {
    &:hover {
        background-color: var(--neutral-100, #e2e2e2);
    }

    &:active {
        background-color: var(--neutral-200, #c7c7c7);
    }
}
