.app {
  /* Layout */
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  
  /* Text */
  text-align: center;

  /* Appearance */
  background: var(--neutral-10);
}
