.class-selector {
    /* Layout */
    width: 80vw;
    height: 80vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    /* Appearance */
    background: var(--neutral-0, #ffffff);
    
    /* Other */
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        /* Layout */
        display: none;
    }
}

.column {
    /* Layout */
    min-width: calc((100% - 1px - 1px) / 3);
    max-width: calc((100% - 1px - 1px) / 3);
}

.col-header {
    /* Layout */
    height: 40px;
    padding: 0px 12px;
    align-content: center;

    /* Appearance */
    background: var(--neutral-400, #919191);
}

.horizontal-divider {
    /* Layout */
    min-height: 1px;

    /* Appearance */
    background-color: var(--neutral-600, #5e5e5e);
}

.col-body {
    /* Layout */
    width: 100%;
    height: calc(100% - 40px - 1px);
    overflow-x: hidden;
    overflow-y: auto;
}

.col-body-cell {
    /* Layout */
    width: calc(100% - 24px);
    height: 40px;
    padding: 0px 12px;
    align-content: center;
    overflow: hidden;

    /* Appearance */
    background: none;
    border: none;

    /* Text */
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        /* Appearance */
        background-color: var(--neutral-100, #e2e2e2);
    }

    &:active {
        /* Appearance */
        background-color: var(--neutral-200, #c7c7c7);
    }
}

.vertical-divider {
    /* Layout */
    min-width: 1px;

    /* Appearance */
    background-color: var(--neutral-600, #5e5e5e);
}
