.class-selector {
    /* Layout */
    width: 80%;

    /* Appearance */
    background: var(--neutral-100, #ffffff);

    /* Table */
    border-collapse: collapse;

    thead {
        background: var(--neutral-60, #919191);
    }

    tr {
        height: 40px;
    }

    th, td {
        padding: 12px;
    }
}
