.class-selector {
    /* Layout */
    display: block;
    /* height: 80%; */
    height: 500px;
    width: 80%;

    /* Appearance */
    background: var(--neutral-100);
    color: var(--neutral-0);

    /* Table */
    border-collapse: collapse;

    thead {
        /* Layout */
        align-items: center;
        /* height: 40px; */
        width: 100%;

        /* Appearance */
        background: var(--neutral-60);
    }

    tbody {
        /* width: 100%; */
        /* height: 100%; */
        height: 100px;
        
        background: var(--neutral-80);
    }

    tr {
        height: 40px;
    }

    th, td {
        border-color: var(--neutral-0);
    }
}
